<article class="main-articles">
  <h2 class="articles-principal-title">3 Reasons To Purchase</h2>
  <div class="articles-style">
    <h3 class="articles-title">Ut sed metus</h3>
    <p class="articles-content">Lorem ipsum dolor sit amet, consecteur</p>
  </div>
  <div class="articles-style">
    <h3 class="articles-title">Curabitur ac erat</h3>
    <p class="articles-content">Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="articles-style">
    <h3 class="articles-title">Morbi dictum</h3>
    <p class="articles-content">Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <button class="articles-button">
    More reasons
  </button>
</article>
