<article class="main-articles">
  <h2 class="articles-principal-title">
    <a name="down">3 Reasons to purchase</a>
  </h2>
  <partial src="_articles-content.html" title="Ut sed metus" content="Lorem ipsum dolor sit amet, consecteur"></partial>
  <partial src="_articles-content.html" title="Curabitur ac erat" content="Mauris mattis urna quis lorem molestie."></partial>
  <partial src="_articles-content.html" title="Morbi dictum" content="Aliquam in dolor et dolor tincidunt."></partial>
  <button class="articles-button">More reasons</button>
</article>
