<footer class="footer-style">
  <div>
    <a class="button-footer" href="#up" alt="Ir arriba" title=" Ir a arriba">
      <img class="img-footer" src="./assets/images/ico-arrow.svg" />
    </a>
  </div>
  <nav class="footer-menu">
    <ul class="menu-item first">
      <li class="menu one">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Articles</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Books</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Events</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Reasons</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Tips</a>
      </li>
    </ul>
    <ul class="menu-item second">
      <li class="menu two">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Twitter</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Instagram</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/" title="Ir a Adalab">Mastodon.social</a>
      </li>
    </ul>
    <div class="copyright">
      <p>© 2017</p>
      <p>we ❤️ components</p>
    </div>
  </nav>
</footer>
