<footer class="footer-style principal-column">
  <button class="button-footer">
    <img src="./assets/images/ico-arrow.svg" />
  </button>
  <nav class="footer-menu">
    <ul class="menu-item first">
      <li class="menu first">
        <a class="menu-links" href="https://adalab.es/">Articles</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Books</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Events</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Reasons</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Tips</a>
      </li>
    </ul>
    <ul class="menu-item second">
      <li class="menu second">
        <a class="menu-links" href="https://adalab.es/">Twitter</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Instagram</a>
      </li>
      <li class="menu">
        <a class="menu-links" href="https://adalab.es/">Mastodon.social</a>
      </li>
    </ul>
    <div class="copyright">
      <p>© 2017</p>
      <p>we ❤️ components</p>
    </div>
  </nav>
</footer>
