<footer>
  <button>flecha</button>
  <nav class="footer-menu">
    <ul class="menu-item1">
      <li>
        <a href="">Articles</a>
      </li>
      <li>
        <a href="">Books</a>
      </li>
      <li>
        <a href="">Events</a>
      </li>
      <li>
        <a href="">Reasons</a>
      </li>
      <li>
        <a href="">Tips</a>
      </li>
    </ul>
    <ul class="menu-item2">
      <li>
        <a href="">Twitter</a>
      </li>
      <li>
        <a href="">Instagram</a>
      </li>
      <li>
        <a href="">Mastodon.social</a>
      </li>
    </ul>
    <div class="copyright">
      <p>2017</p>
      <p>we componentss</p>
    </div>
  </nav>
</footer>
