<header class="header-background">
  <a name="up"></a>
  <div class="header-menu">
    <botton href="https://adalab.es/" alt="Ir a Adalab">
      <a class="header-link" href="https://adalab.es/" alt="Ir a Adalab">
        <img class="header-icon" src="./assets/images/ico-menu.svg" alt="Enlace Adalab" title="Ir a Adalab" />
      </a>
    </botton>
  </div>
  <div class="header-title">
    <h1 class="title-style">
      <span>Anonymous</span>
      <span>proxy</span>
    </h1>
    <p class="header-text">In hac habitasse platea dictumst.</p>
    <button class="header-button">
      <a href="#down" alt="Ir a abajo" title=" Ir a abajo">
        <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" />
      </a>
    </button>
  </div>
</header>
