<header class="header-background">
  <a name="up"></a>
  <div class="header-menu">
    <a href="https://adalab.es/" title="Ir a Adalab">
      <img class="header-icon" src="./assets/images/ico-menu.svg" alt="Enlace Adalab" title="Ir a Adalab" />
    </a>
  </div>
  <div class="header-title">
    <h1 class="title-style">
      <span>Anonymous</span>
      <span>proxy</span>
    </h1>
    <p class="header-text">In hac habitasse platea dictumst.</p>
    <div>
      <a class="header-button" href="#down" title=" Ir a abajo">
        <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="Ir a abajo" />
      </a>
    </div>
  </div>
</header>
