<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación final Natalia Mateo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
    <main>
      <partial src="_section.html"></partial>
      <partial src="_articles.html"></partial>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
