<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación final Natalia Mateo</title>

    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
    <main>
      <partial src="_section.html"></partial>
      <partial src="_articles.html" title="3 Reasons to purchase"></partial>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
