.main-articles {
  background-color: #eff9ff;
}

.articles-principal-title {
  width: 290px;
  height: 30px;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  margin: 30px 15px 45px 15px;
}
.articles-style {
  margin: 0 70px 45px 70px;
  text-align: center;
}
.articles-title {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}
.articles-content {
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 1.67;
}

.articles-button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  margin: 0 68px 60px 68px;
  border: 1px solid #f26002;
  color: white;
  font-family: "Roboto";
  font-size: 20px;
}

@media all and (min-width: 768px) {
  .principal-column {
    padding: 0 39px;
  }
  .articles-principal-title {
    width: 450px;
    height: 45px;
    margin: 30px 121px 45px 121px;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.73;
  }
  .articles-style {
    margin: 0 0;
  }
  .articles-title {
    width: 210px;
    height: 30px;
    font-size: 24px;
    line-height: 1.25;
  }
  .articles-content {
    font-size: 20px;
    line-height: 1.5;
    width: 212.3px;
    height: 68px;
  }
  .articles-button {
    width: 210px;
    margin: 15px 241px 60px 239px;
    line-height: 2.25;
  }
}
