.main-articles {
  background-color: #eff9ff;
}
.articles-principal-title {
  width: 290px;
  height: 30px;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  margin: 30px 15px 45px 15px;
}
.articles-button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border: 1px solid #f26002;
  color: white;
  font-family: "Roboto";
  font-size: 20px;
}
.articles-button:hover {
  border: 2px solid #f26002;
  background-color: #ffffff;
  color: #f26002;
}
@media all and (min-width: 768px) {
  .articles-principal-title {
    margin: 30px 121px 45px 121px;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.73;
  }
  .articles-button {
    width: 210px;
    margin: 15px 241px 60px 239px;
    line-height: 2.25;
  }
}
@media all and (min-width: 1280px) {
  .articles-principal-title {
    width: 730px;
    height: 45px;
    font-size: 32px;
    line-height: 1.41;
  }
  .articles-button {
    width: 255px;
  }
}
