.header-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-button {
  display: flex;
  justify-content: center;
}
.main-articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 106px 138px 138px 138px 105px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 768px) {
  // Medias para articles

  .main-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .articles-principal-title {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
  }
  .articles-style.first {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }
  .articles-style.second {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
  }
  .articles-style.third {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
  }
  .articles-button {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
  }
  // Medias para el footer
  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright {
    order: -2;
  }
}
