.header-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-button {
  display: flex;
  justify-content: center;
}
.main-articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 106px 138px 138px 138px 105px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 768px) {
  .main-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 120px;
  }
  .principal-title {
    grid-column: span 3;
  }
  .articles-button {
    grid-column: span 3;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .copyright {
    order: -2;
  }
}
