.footer-style {
  padding-right: 68px;
  padding-left: 68px;
  background-color: #304268;
}
.button-footer {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border: 1px solid white;
  background-color: white;
  position: relative;
  left: 68px;
  bottom: 22.5px;
}
.menu-item {
  list-style: none;
  text-align: center;
}
