.footer-style {
  background-color: #304268;
  text-align: center;
}
.button-footer {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border: 1px solid white;
  background-color: white;
  position: relative;
  text-align: center;
  bottom: 22.5px;
}
.menu-item {
  list-style: none;
  text-align: center;
}
.footer-menu {
  padding-bottom: 45px;
}

.menu-item.first {
  padding-bottom: 30px;
}
.menu {
  font-family: "Roboto Regular";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.88;
}
.menu-links {
  color: white;
  text-decoration: none;
}
.copyright {
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 2.14;
  color: white;
  padding-top: 30px;
}
@media all and (min-width: 768px) {
  .principal-column {
    padding: 0 39px;
  }
  .footer-menu {
    padding-bottom: 0px;
  }
  .menu-item {
    text-align: left;
  }
  .menu.firts {
    width: 210px;
    height: 150px;
  }
  .menu.second {
    width: 210px;
  }
  .copyright {
    text-align: left;
  }
}
