.header-background {
  background: url("../images/cover.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.header-menu {
  background-color: #0271bc;
  background-image: none;
  position: fixed;
  width: 44px;
  height: 44px;
}
.icon {
  margin: 15px 14px;
}
.header-title {
  color: white;
  margin-bottom: 53px;
  padding-top: 284px;
}
.title-style {
  font-size: 42px;
  text-align: center;
  line-height: 55px;
}
