.insomnia-style {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #8ccbea;
  width: 90px;
  height: 30px;
  margin: 30px 215px 0 0px;
}
.section-title {
  width: 290px;
  height: 60px;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-text {
  width: 290px;
  height: 120px;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
  margin-bottom: 30px;
}
.section-button {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  margin-bottom: 45px;
  background-color: white;
  font-family: "Roboto Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: #f26002;
}
@media all and(min-width: 768px) {
  .principal-column {
    padding: 0 39px;
  }

  .insomnia-style {
    font-family: "Roboto Regular";
    font-size: 14px;
    color: #8ccbea;
    width: 216px;
    height: 30px;
    margin: 30px 513px 0 0px;
  }
  .section-title {
    width: 690px;
    height: 45px;
    font-size: 26px;
    line-height: 1.73;
    margin-bottom: 30px;
  }
  .section-text {
    width: 690px;
    height: 60px;
    font-size: 20px;
    line-height: 1.5;
  }
  .section-button {
    width: 91px;
    height: 45px;
    margin-bottom: 60px;
  }
}
@media all and(min-width: 1280px) {
  .principal-column {
    padding: 0 275px;
  }
  .insomnia-style {
    font-size: 16px;
    width: 360px;
    margin: 60px 645px 0 0px;
  }
  .section-title {
    width: 730px;
    font-size: 32px;
    line-height: 1.41;
  }
  .section-text {
    width: 730px;
  }
  .section-button {
    width: 160px;
  }
}
