.articles-style {
  margin: 0 70px 45px 70px;
  text-align: $textCenter;
  @media all and (min-width: 768px) {
    margin: 0 0;
  }
  .articles-title {
    font-family: $fontTitles;
    font-size: 18px;
    font-weight: $fontBold;
    line-height: 1.67;
    @media all and (min-width: 768px) {
      font-size: 24px;
      line-height: 1.25;
      display: inline-block;
    }
  }
  .articles-content {
    font-family: $fontText;
    font-size: 18px;
    line-height: 1.67;
    @media all and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.5;
      width: 212.3px;
    }
  }
}
