.main-articles {
  background-color: $colorBackground-1;
  .articles-principal-title {
    font-family: $fontTitles;
    font-size: 24px;
    font-weight: $fontBold;
    line-height: 1.25;
    text-align: $textCenter;
    text-transform: $textCapitalize;
    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1280px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }
  .articles-button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $colorButton;
    border: 1px solid $colorButton;
    color: $colorPrimary;
    font-family: $fontText;
    font-weight: $fontMedium;
    font-size: 20px;
    &:hover {
      border: 2px solid $colorButton;
      background-color: $colorPrimary;
      color: $colorButton;
    }
    @media all and (min-width: 768px) {
      width: 210px;
      margin-bottom: 60px;
      margin-top: 45px;
      line-height: 2.25;
    }
    @media all and (min-width: 1280px) {
      width: 255px;
    }
  }
}
