.footer-style {
  background-color: $colorBackground-2;
  text-align: $textCenter;
  .button-footer {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border: 1px solid $colorPrimary;
    background-color: $colorPrimary;
    position: relative;
    text-align: $textCenter;
    bottom: 22.5px;
    animation-name: anim-footer;
    animation-duration: 10s;
    .img-footer {
      margin-top: 10px;
    }
  }
  @keyframes anim-footer {
    from {
      transform: rotate(0deg);
    }
    to {
      background-color: $colorBackground-2;
      transform: rotate(360deg);
    }
  }
}

.footer-menu {
  display: flex;
  padding-bottom: 45px;
  flex-direction: column;
  @media all and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media all and (min-width: 1280px) {
    padding: 0 370px 45px 370px;
  }
  .menu-item {
    list-style: none;
    text-align: $textCenter;
    @media all and (min-width: 768px) {
      text-align: $textLeft;
    }
    .menu {
      font-family: $fontText;
      font-size: 16px;
      text-transform: $textUppercase;
      line-height: 1.88;

      .menu-links {
        color: $colorPrimary;
        text-decoration: none;
      }
    }
  }
}

.copyright {
  font-family: $fontText;
  font-size: 14px;
  line-height: 2.14;
  color: $colorPrimary;
  padding-top: 30px;
  @media all and (min-width: 768px) {
    text-align: $textLeft;
  }
}
