//colores usados de fondo
$colorBackground-1: #eff9ff;
$colorBackground-2: #304268;
$colorButton: #f26002;
$colorHamburguer: #0271bc;

// colores para textos
$colorPrimary: #ffffff;
$colorSecundary: #8ccbea;
$colorTertiary: #4a4a4a;

// fuentes para textos

$fontTitles: "Roboto Slab";
$fontText: "Roboto";

// grosor para los textos

$fontBold: bold;
$fontMedium: medium;

// Mayúsculas

$textUppercase: uppercase;
$textCapitalize: capitalize;

// alineación de texto
$textCenter: center;
$textLeft: left;
