//colores usados de fondo
$colorBackground-1: #eff9ff;
$colorBackground-2: #304268;
$colorButton: #f26002;
$colorHamburguer: #0271bc;

// colores para textos
$colorPrimary: #ffffff;
$colorSecundary: #8ccbea;

// fuentes para textos

$fontTitles: "Roboto Slab";
$fontText: "Roboto";

// grosor para los textos

$fontBold: Bold;
$fontMedium: Medium;

// Mayúsculas

$textUppercase: uppercase;
$textCapitalize: capitalize;

// tamaño de las fuentes
